
#hem-bar{


    background-color: rgb(255, 254, 254);
    padding: 1px;
        border-bottom: 1px solid #E2E8F0;
        display: none;

}
.toggle-off{

width: 95%;
display: flex;
justify-content: space-between;
padding: 10px;




}

.toggle-off button{

height: 30px;
width: 30px;
background-color: transparent;
border: 2px solid gray;
border-radius: 10px;

}

.toggle-on{
     display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
gap: 12px;
padding: 5px;
}


.toggle-on .menu{

    font-size: 11px;
    color: #94A3B8;
    font-weight: 500;
    padding: 4px 10px 6px;
    letter-spacing: 0.05em;
    text-transform: uppercase;


}





@media (max-width:600px){

#hem-bar{

    
    background-color: rgb(255, 254, 254);
    padding: 1px;
        border-bottom: 1px solid #E2E8F0;
        display: block;
    
}


    
}