

.btuContainer{


display: flex;
flex-direction: column;
gap: 20px;


margin-left: 20px;

}


.menuBtu{
       
        padding: 8px 10px;
    border-radius: 12px;
    font-size: small;
    border: 1px solid transparent;
    
    text-align: center;
    
    
     color: #94A3B8;
     background-color: #E2E8F0;
     transition: 10ms;

}

.menuBtu:active{

    transform: scale(0.8);
}

.active{

border-left:6px solid rgb(148, 148, 255);
border-top: 1px solid rgb(148, 148, 255);
border-bottom: 1px solid rgb(148, 148, 255);

}
