#side-bar{

        min-width: 15%;
        background-color: #fffefe;
        border: 1px solid  rgb(226, 232, 240) ;
        padding: 10px;
        


}

#side-bar p,hr {
    font-size: small;
    opacity:0.6;
}

@media (max-width:600px){

#side-bar{

    display: none;

}

.mainContainer{
    display: grid;
    grid-template-columns: 1fr;
    min-height: 100dvh;
   
}


    
}